.App-header {
  align-items: center;
  background-color: #373737;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.App-syndio-logo {
  margin-left: 24px;
}

.App-group-picker.active {
  border: 1px solid #0D8B7F;
}

.drop-wrapper {
  margin-right: 24px;
}

.drop-wrapper select {
  background-color: #262626;
  border: none;
  color: white;
  height: 40px;
  text-indent: 5px;
}

.drop-menu {
  background-color: white;
  width: 200px;
}

.drop-menu span {
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px;
}